{% extends 'base.html' %}

{% block content %}

{% set searchParams = '' %}
{% for key, value in request.params if key != 'p' %}
    {% set searchParams = searchParams ~ "&" ~ key ~ "=" ~ value %}
{% endfor %}

<style>
    .slot.removed fieldset{
        border: 1px dashed #ca2424;
        color: #821515;
    }
</style>

<div class="row">
    <div class="small-12 columns">
        
        <h1>Sections</h1>

        <div class="row">
            <div class="small-12 columns">
                <div class="section-container auto" data-section>
                    {% for section in sections %}

                    <section>
                        <p class="title" data-section-title>
                            <a href="#{{section.slug}}">{{section.title}}</a>
                        </p>
                        <div class="content" data-section-content>

                            <div class="row">
                                <div class="small-12 columns">

                                <div class="small-12 columns slots">
                                    <form action="{{site}}/admin/section/{{section.id}}" method="POST">

                                    <div class="small-12 columns">
                                        <input class="round button success small" type="submit" value="Save">
                                    </div>
                                    <hr>

                                    {% for slot in section.slots.getResults %}
                                    <div class="row slot">

                                        <fieldset style="padding:0;">
                                            <legend>Slot {{slot.order+1}}</legend>

                                            <div class="small-3 columns">
                                                <label>Item</label>
                                                <div class="row collapse">
                                                    <div class="small-8 columns">
                                                        <input type="text" name="item-raw-id[]" id="input-item-{{slot.order}}" value="{% if slot.item %}{{slot.item.id}}{%endif%}">
                                                        <input type="hidden" name="item-child-class[]" id="hidden-item-{{slot.order}}" value="{% if slot.item %}{{slot.item.child_class}}{%endif%}">
                                                    </div>
                                                    <div class="small-4 columns">
                                                        <a href="{{site}}/admin/section/popup?KoalaRawId=1&KoalaFuncName=setItemId&selector=item-{{slot.order}}" id="item-trigger-{{slot.order}}" class="button secondary js-raw-id postfix">Find</a>
                                                    </div>
                                                </div>
                                                {% if slot.item %}
                                                <div class="row">
                                                    <div class="small-12 columns">
                                                        <b>{{slot.item.child_class}}</b>
                                                        <p>{{slot.item.title}}</p>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="small-3 columns">
                                                <label>Image ON</label>
                                                <div class="row collapse">
                                                    <div class="small-8 columns">
                                                        <input type="text" name="imageon-raw-id[]" id="input-imageon-{{slot.order}}" value="{% if slot.image_on %}{{slot.image_on.id}}{% endif %}">
                                                        <input type="hidden" name="imageon-child-class[]" id="hidden-imageon-{{slot.order}}">
                                                    </div>
                                                    <div class="small-4 columns">
                                                        <a href="{{site}}/admin/image/popup?KoalaRawId=1&KoalaFuncName=setImageId&selector=imageon-{{slot.order}}" id="imageon-trigger-{{slot.order}}" class="button secondary js-raw-id postfix">Find</a>
                                                    </div>
                                                </div>
                                                {% if slot.image_on %}
                                                <div class="row">
                                                    <div class="small-12 columns">
                                                        <img src="{{slot.image_on.file}}" alt="">
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="small-3 columns">
                                                <label>Image OFF</label>
                                                <div class="row collapse">
                                                    <div class="small-8 columns">
                                                        <input type="text" name="imageoff-raw-id[]" id="input-imageoff-{{slot.order}}" value="{% if slot.image_off %}{{slot.image_off.id}}{% endif %}">
                                                        <input type="hidden" name="imageoff-child-class[]" id="hidden-imageoff-{{slot.order}}">
                                                    </div>
                                                    <div class="small-4 columns">
                                                        <a href="{{site}}/admin/image/popup?KoalaRawId=1&KoalaFuncName=setImageId&selector=imageoff-{{slot.order}}" id="{{slot.order}}" class="button secondary js-raw-id postfix">Find</a>
                                                    </div>
                                                </div>
                                                {% if slot.image_off %}
                                                <div class="row">
                                                    <div class="small-12 columns">
                                                        <img src="{{slot.image_off.file}}" alt="">
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="small-2 columns">
                                                <label for="">&nbsp;</label>
                                                <a href="#" class="button small alert round js-clean-field" rel="{{slot.order}}">Delete</a>
                                                <input type="hidden" class="item-delete-{{slot.order}}" value="0" name="item-delete[]">
                                            </div>

                                            <div class="small-7 columns">
                                                <label for="">&nbsp;</label>
                                                <p></p>
                                            </div>
                                        </fieldset>

                                    </div>
                                    {% endfor %}
                                    </form>
                                </div>
                                </div>
                            </div>
                            
                    </section>

                    {% endfor %}
                </div>
                
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascript %}
{{block.super}}
<script src="{{site}}/js/vendor/jquery.popupWindow.js"></script>
<script type="text/javascript">

    var list = $('.image-fields');

    var cleanField = function(e){
        e.preventDefault();

        var _rel = $(this).attr('rel'),
            _hidden = $('.item-delete-' + _rel);

        console.log(_hidden.val());

        if( _hidden.val() == '1' ){
            $(this).parentsUntil('.slots').removeClass('removed');
            _hidden.val('0');
        }else{
            $(this).parentsUntil('.slots').addClass('removed');
            _hidden.val('1');
        }
    }

    $('.js-clean-field').on('click', cleanField);

    //Koala Raw ID

    // Custom id generation, thanks internet
    function getID(){
        var S4 = function (){
            return Math.floor(
                Math.random() * 0x10000 /* 65536 */
            ).toString(16);};
        return (S4() + S4() + "-" +
                S4() + "-" +
                S4() + "-" +
                S4() + "-" +
                S4() + S4() + S4());}

    var KoalaRawId = function($trigger){
        
        // Bind
        $trigger.popupWindow({
            width: 960,
            height: 500,
            centerBrowser: 1});
        // Koala RawID
        window['setItemId'] = function(id, _class, selector){
            $('#input-' + selector).val(id);
            $('#hidden-' + selector).val(_class);}
        window['setImageId'] = function(id, selector){
            $('#input-' + selector).val(id);}
    };

    $('.js-raw-id').each(function(i, field){
        new KoalaRawId($(this));
    });

</script>
{% endblock %}