{% extends 'base_popup.html' %}

{% block content %}

{% set searchParams = '' %}
{% for key, value in request.params if key != 'p' %}
    {% set searchParams = searchParams ~ "&" ~ key ~ "=" ~ value %}
{% endfor %}

<div class="row">
    <div class="small-12 columns">
        
        <h1>Section Item</h1>

        <form action="">
        {% for key, value in request.params %}
        <input type="hidden" name="{{key}}" value="{{value}}">
        {% endfor %}

        <div class="small-4 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" name="q" placeholder="Filter" value="{{params.q}}">
                </div>
                <div class="small-2 columns">
                    <input type="submit" value="Filter" class="button prefix">
                </div>
            </div>
        </div>
        </form>

        <div class="small-12 columns">
            {% if items|length > 0 %}
            <table width="100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr data-id="{{item.id}}" data-child="{{item.child_class}}">
                            <td align="center">
                                <a href="#" class="js-callback">
                                    {{item.title}}
                                </a>
                            </td>
                            <td align="center">
                                <a href="#" class="js-callback">
                                    {{item.child_class}}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h3 class="subheader" style="text-align: center;">No Items for you today :(</h3>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    // Helper function to get parameters from the query string.
    function getUrlParam( paramName ) {
        var reParam = new RegExp( '(?:[\?&]|&)' + paramName + '=([^&]+)', 'i' ) ;
        var match = window.location.search.match(reParam) ;

        return ( match && match.length > 1 ) ? match[ 1 ] : null ;
    }

    $('.js-callback').on('click', function(e){
        e.preventDefault();
        if(isKoalaRawId()){
            var _item = $(this).parentsUntil('tr[data-id]').parent();
            var _id = _item.data('id'),
                _class = _item.data('child');
            KoalaRawIdReturn(_id, _class);
        }
        window.close();
    });

    function isKoalaRawId(){
        return getUrlParam('KoalaRawId')? true: false;}

    function KoalaRawIdReturn (id, _class){
        var funcNum = getUrlParam( 'KoalaFuncName' ),
            selector = getUrlParam( 'selector' );
        window.opener[funcNum](id, _class, selector);}
</script>
{% endblock %}