{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        <a href="{{site}}/admin/project" class="button small success radius">List</a>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
<input type="hidden" name="MAX_FILE_SIZE" value="{{imageSize}}" />

    <fieldset>
        <legend>Project</legend>

        <div class="row">
            <div class="small-6 columns">
                <label for="">Title</label>
                <input type="text" name="title">
            </div>
            <div class="small-6 columns"></div>

            <div class="small-12 columns">
                <label for="">Description</label>
                <textarea name="description" id="js-ckeditor"></textarea>
            </div>
        </div>

        <fieldset>
            <legend>Pictures</legend>

            <div class="row">
                <div class="small-12 columns image-fields"></div>
            </div>
            
            <div class="row">
                <div class="small-6 columns">
                    <a href="#" class="button round success js-add-search-item">Add Search</a>
                    <a href="#" class="button round success js-add-item">Add</a>
                </div>
                <div class="small-6 columns">&nbsp;</div>
            </div>


        </fieldset>

        <input class="button" type="submit" value="Register">

    </fieldset>
</form>

{% endblock %}

{% block javascript %}
{{block.super}}
<script src="{{site}}/js/vendor/jquery.popupWindow.js"></script>
<script type="text/javascript">
    var model = function(){ return DIV(FIELDSET(LEGEND('Image'),
            DIV(LABEL('File'), INPUT({type: 'file', name: 'picture-file[]'}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Title'), INPUT({type: 'text', name: 'picture-title[]'}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Description'), TEXTAREA({name: 'picture-description[]'}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Order'), INPUT({type: 'text', name: 'picture-order[]'}), {class: ['small-2', 'columns']}),
            DIV(A('X', {class: ['button', 'alert', 'round', 'small', 'js-remove-item']}), {class: ['small-1', 'columns']})
        ),{class: ['row', 'image-field']});};

    var searchModel = function(_id){ return DIV(FIELDSET(LEGEND('Image'),
            DIV(LABEL('File'), DIV(
                DIV(INPUT({type: 'text', name: 'picture-raw-id[]', id: 'input-' + _id}), {class: ['small-8', 'columns']}),
                DIV(
                    A('Find', {
                        href: '{{site}}/admin/image/popup?KoalaRawId=1&KoalaFuncName=setImageId&selector=' + _id, 
                        id: _id, 
                        class: ['button', 'secondary', 'js-raw-id', 'postfix']}), 
                    {class: ['small-4', 'columns']}), {class: ['row', 'collapse']}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Order'), INPUT({type: 'text', name: 'picture-raw-order[]'}), {class: ['small-2', 'columns']}),
            DIV(A('X', {class: ['button', 'alert', 'round', 'small', 'js-remove-item']}), {class: ['small-1', 'columns']})
        ),{class: ['row', 'image-field']});};

    var list = $('.image-fields');

    var duplicateAddField = function(e){
        e.preventDefault();
        list.append(new model().xml());}

    var duplicateAddSearchField = function(e){
        e.preventDefault();
        var _id = getID();
        list.append(new searchModel(_id).xml());
        new KoalaRawId($('#' + _id));}

    var removeField = function(e){
        e.preventDefault();
        $(this).parentsUntil('.image-field').remove();}

    var getRawId = function(e){
        e.preventDefault();

    }

    // Bindings
    $('a.js-add-item').on('click', duplicateAddField);
    $('a.js-add-search-item').on('click', duplicateAddSearchField);
    list.on('click', 'a.js-remove-item', removeField);

    //Koala Raw ID

    // Custom id generation, thanks internet
    function getID(){
        var S4 = function (){
            return Math.floor(
                Math.random() * 0x10000 /* 65536 */
            ).toString(16);};
        return (S4() + S4() + "-" +
                S4() + "-" +
                S4() + "-" +
                S4() + "-" +
                S4() + S4() + S4());}
    var KoalaRawId = function($trigger){
        
        // Bind
        $trigger.popupWindow({
            width: 960,
            height: 500,
            centerBrowser: 1});
        // Koala RawID
        window['setImageId'] = function(id, selector){
            $('#input-' + selector).val(id);}
    };

</script>
{% endblock %}