{% extends 'base.html' %}

{% set languages = {'Português': 'pt_BR', 'Español': 'es_ES', 'English': 'en_US'} %}

{% block content %}

<style type="text/css">
.image-field.removed fieldset{
    border: 1px dashed #ca2424;
    color: #821515;
}
</style>

<div class="row">
    <div class="small-12 columns">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="MAX_FILE_SIZE" value="{{imageSize}}" />

            <fieldset>
                <legend>Project</legend>

                <div class="row">
                    <div class="small-6 columns">

                        <div class="row">
                            <div class="small-12 columns">
                                <div class="section-container auto" data-section>
                                    {% for language, code in languages %}
                                        <section>
                                            <p class="title" data-section-title>
                                                <a href="#">{{language}}</a>
                                            </p>
                                            <div class="content" data-section-content>
                                                <label for="">Title</label>
                                                {% set attr = 'title-' ~ code %}
                                                <input type="text" name="{{attr}}" value="{{project[attr]}}" >
                                            </div>
                                        </section>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="small-6 columns"></div>

                    <div class="small-12 columns">

                        <div class="row">
                            <div class="small-12 columns">
                                <div class="section-container auto" data-section>
                                    {% for language, code in languages %}
                                        <section>
                                            <p class="title" data-section-title>
                                                <a href="#">{{language}}</a>
                                            </p>
                                            <div class="content" data-section-content>
                                                <label for="">Description</label>
                                                {% set attr = 'description-' ~ code %}
                                                <textarea name="{{attr}}" class="js-ckeditor">{{project[attr]}}</textarea>
                                            </div>
                                        </section>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <fieldset>
                    <legend>Pictures</legend>

                    <div class="row">
                        <div class="small-12 columns image-fields">
                            {% for item in project.images %}
                            {% set container = item.item %}
                            {% set image = item.image %}
                            <div class="row image-field">
                                <fieldset>
                                    <legend>Image</legend>
                                    <div class="small-3 columns">
                                        <label>File</label>
                                        <img src="{{image.file}}">
                                        <input type="hidden" name="container-id[]" value="{{container.id}}">
                                    </div>
                                    <div class="small-3 columns">
                                        <label>Order</label>
                                        <input type="text" name="container-order[]" value="{{container.order}}">
                                    </div>
                                    <div class="small-1 columns">
                                        <a class="button alert round small js-delete-item" rel="{{container.id}}">X</a>
                                        <input type="hidden" class="container-delete-{{container.id}}" value="0" name="container-delete[]">
                                    </div>
                                </fieldset>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="small-6 columns">
                            <a href="#" class="button small round success js-add-search-item">Add Search</a>
                            <a href="#" class="button small round success js-add-item">Add</a>
                        </div>
                        <div class="small-6 columns">&nbsp;</div>
                    </div>


                </fieldset>

            </fieldset>

            <input type="submit" class="button success" value="Update">
            <a href="{{site}}/admin/project/{{project.id}}/delete" class="button alert">Delete</a>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{block.super}}
<script src="{{site}}/js/vendor/jquery.popupWindow.js"></script>
<script type="text/javascript">
    var model = function(){ return DIV(FIELDSET(LEGEND('Image'),
            DIV(LABEL('File'), INPUT({type: 'file', name: 'picture-file[]'}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Title'), INPUT({type: 'text', name: 'picture-title[]'}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Description'), TEXTAREA({name: 'picture-description[]'}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Order'), INPUT({type: 'text', name: 'picture-order[]'}), {class: ['small-2', 'columns']}),
            DIV(A('X', {class: ['button', 'alert', 'round', 'small', 'js-remove-item']}), {class: ['small-1', 'columns']})
        ),{class: ['row', 'image-field']});};

    var searchModel = function(_id){ return DIV(FIELDSET(LEGEND('Image'),
            DIV(LABEL('File'), DIV(
                DIV(INPUT({type: 'text', name: 'picture-raw-id[]', id: 'input-' + _id}), {class: ['small-8', 'columns']}),
                DIV(
                    A('Find', {
                        href: '{{site}}/admin/image/popup?KoalaRawId=1&KoalaFuncName=setImageId&selector=' + _id, 
                        id: _id, 
                        class: ['button', 'secondary', 'js-raw-id', 'postfix']}), 
                    {class: ['small-4', 'columns']}), {class: ['row', 'collapse']}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Order'), INPUT({type: 'text', name: 'picture-raw-order[]'}), {class: ['small-2', 'columns']}),
            DIV(A('X', {class: ['button', 'alert', 'round', 'small', 'js-remove-item']}), {class: ['small-1', 'columns']})
        ),{class: ['row', 'image-field']});};

    var list = $('.image-fields');

    var duplicateAddField = function(e){
        e.preventDefault();
        list.append(new model().xml());}

    var duplicateAddSearchField = function(e){
        e.preventDefault();
        var _id = getID();
        list.append(new searchModel(_id).xml());
        new KoalaRawId($('#' + _id));}

    var removeField = function(e){
        e.preventDefault();
        $(this).parentsUntil('.image-field').remove();}

    var deleteField = function(e){
        e.preventDefault();

        var _rel = $(this).attr('rel'),
            _hidden = $('.container-delete-' + _rel);        

        if( _hidden.val() !== '0' ){
            $(this).parentsUntil('.image-fields').removeClass('removed');
            _hidden.val('0');
        }else{
            $(this).parentsUntil('.image-fields').addClass('removed');
            _hidden.val(_rel);
        }}

    var getRawId = function(e){
        e.preventDefault();
    }

    // Bindings
    $('a.js-add-item').on('click', duplicateAddField);
    $('a.js-add-search-item').on('click', duplicateAddSearchField);
    list.on('click', 'a.js-delete-item', deleteField);
    list.on('click', 'a.js-remove-item', removeField);

    //Koala Raw ID

    // Custom id generation, thanks internet
    function getID(){
        var S4 = function (){
            return Math.floor(
                Math.random() * 0x10000 /* 65536 */
            ).toString(16);};
        return (S4() + S4() + "-" +
                S4() + "-" +
                S4() + "-" +
                S4() + "-" +
                S4() + S4() + S4());}
    var KoalaRawId = function($trigger){
        
        // Bind
        $trigger.popupWindow({
            width: 960,
            height: 500,
            centerBrowser: 1});
        // Koala RawID
        window['setImageId'] = function(id, selector){
            $('#input-' + selector).val(id);}
    };

    //TODO: Change to JSON update

</script>
{% endblock %}