{% extends 'base.html' %}

{% block content %}

{% set searchParams = '' %}
{% for key, value in request.params if key != 'p' %}
    {% set searchParams = searchParams ~ "&" ~ key ~ "=" ~ value %}
{% endfor %}

{% set languages = {'Português': 'pt_BR', 'Español': 'es_ES', 'English': 'en_US'} %}

<div class="row">
    <div class="small-12 columns">
        
        <h1>Projects</h1>

        <div class="small-8 columns">
        {% if paginate %}
            <ul class="pagination">
                {% if paginate.hasPrevious %}
                <li class="arrow"><a href="?p={{paginate.previous}}{{searchParams}}">&laquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="#">&laquo;</a></li>
                {% endif %}
            
                {% for page in range(1, paginate.pages) %}
                <li class="{% if paginate.current == page %}current{% endif %}"><a href="?p={{page}}{{searchParams}}">{{page}}</a></li>
                {% endfor %}
            
                <!--<li class="unavailable"><a href="">&hellip;</a></li>-->
            
                {% if paginate.hasNext %}
                <li class="arrow"><a href="?p={{paginate.next}}{{searchParams}}">&raquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        {% else %}
        &nbsp;
        {% endif %}
        </div>
        <form action="">
        <input type="hidden" name="p" value="{{pagination.current}}">

        <div class="small-4 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" name="q" placeholder="Filter" value="{{params.q}}">
                </div>
                <div class="small-2 columns">
                    <input type="submit" value="Filter" class="button prefix">
                </div>
            </div>
        </div>
        </form>

        <div class="row">
            <div class="small-12 columns">
                {% if projects|length > 0 %}
                <table width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Published</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <a href="{{site}}/admin/project/{{project.id}}">
                                    {{project.id}}
                                </a>
                            </td>
                            <td>{{project.title}}</td>
                            <td><a href="{{site}}/admin/project/{{project.id}}">Ver detalhes</a></td>
                            <td align="center">
                                <a href="{{site}}/admin/project/{{project.id}}/publish/{% if project.published == 1 %}no{% else %}yes{% endif %}">
                                    <div class="published {% if project.published == 1 %}yes{% endif %}"></div>
                                </a>
                            </td>
                            <td>
                                <a href="{{site}}/admin/project/{{project.id}}/delete" class="button small alert round">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h3 class="subheader" style="text-align: center;">
                        No Projects for you today :(
                    </h3>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="MAX_FILE_SIZE" value="{{imageSize}}" />

                <fieldset>
                    <legend>Project</legend>

                    <div class="row">
                        <div class="small-6 columns">

                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="section-container auto" data-section>
                                        {% for language, code in languages %}
                                            <section>
                                                <p class="title" data-section-title>
                                                    <a href="#">{{language}}</a>
                                                </p>
                                                <div class="content" data-section-content>
                                                    <label for="">Title</label>
                                                    <input type="text" name="title-{{code}}">
                                                </div>
                                            </section>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="small-6 columns"></div>

                        <div class="small-12 columns">

                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="section-container auto" data-section>
                                        {% for language, code in languages %}
                                            <section>
                                                <p class="title" data-section-title>
                                                    <a href="#">{{language}}</a>
                                                </p>
                                                <div class="content" data-section-content>
                                                    <label for="">Description</label>
                                                    <textarea name="description-{{code}}" class="js-ckeditor"></textarea>
                                                </div>
                                            </section>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <fieldset>
                        <legend>Pictures</legend>

                        <div class="row">
                            <div class="small-12 columns image-fields"></div>
                        </div>
                        
                        <div class="row">
                            <div class="small-6 columns">
                                <a href="#" class="button small round success js-add-search-item">Add Search</a>
                                <a href="#" class="button small round success js-add-item">Add</a>
                            </div>
                            <div class="small-6 columns">&nbsp;</div>
                        </div>


                    </fieldset>

                    <input class="button success radius" type="submit" value="Register">

                </fieldset>
            </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{block.super}}
<script src="{{site}}/js/vendor/jquery.popupWindow.js"></script>
<script type="text/javascript">
    var model = function(){ return DIV(FIELDSET(LEGEND('Image'),
            DIV(LABEL('File'), INPUT({type: 'file', name: 'picture-file[]'}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Title'), INPUT({type: 'text', name: 'picture-title[]'}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Description'), TEXTAREA({name: 'picture-description[]'}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Order'), INPUT({type: 'text', name: 'picture-order[]'}), {class: ['small-2', 'columns']}),
            DIV(A('X', {class: ['button', 'alert', 'round', 'small', 'js-remove-item']}), {class: ['small-1', 'columns']})
        ),{class: ['row', 'image-field']});};

    var searchModel = function(_id){ return DIV(FIELDSET(LEGEND('Image'),
            DIV(LABEL('File'), DIV(
                DIV(INPUT({type: 'text', name: 'picture-raw-id[]', id: 'input-' + _id}), {class: ['small-8', 'columns']}),
                DIV(
                    A('Find', {
                        href: '{{site}}/admin/image/popup?KoalaRawId=1&KoalaFuncName=setImageId&selector=' + _id, 
                        id: _id, 
                        class: ['button', 'secondary', 'js-raw-id', 'postfix']}), 
                    {class: ['small-4', 'columns']}), {class: ['row', 'collapse']}), {class: ['small-3', 'columns']}),
            DIV(LABEL('Order'), INPUT({type: 'text', name: 'picture-raw-order[]'}), {class: ['small-2', 'columns']}),
            DIV(A('X', {class: ['button', 'alert', 'round', 'small', 'js-remove-item']}), {class: ['small-1', 'columns']})
        ),{class: ['row', 'image-field']});};

    var list = $('.image-fields');

    var duplicateAddField = function(e){
        e.preventDefault();
        list.append(new model().xml());}

    var duplicateAddSearchField = function(e){
        e.preventDefault();
        var _id = getID();
        list.append(new searchModel(_id).xml());
        new KoalaRawId($('#' + _id));}

    var removeField = function(e){
        e.preventDefault();
        $(this).parentsUntil('.image-field').remove();}

    var getRawId = function(e){
        e.preventDefault();
    }

    // Bindings
    $('a.js-add-item').on('click', duplicateAddField);
    $('a.js-add-search-item').on('click', duplicateAddSearchField);
    list.on('click', 'a.js-remove-item', removeField);

    //Koala Raw ID

    // Custom id generation, thanks internet
    function getID(){
        var S4 = function (){
            return Math.floor(
                Math.random() * 0x10000 /* 65536 */
            ).toString(16);};
        return (S4() + S4() + "-" +
                S4() + "-" +
                S4() + "-" +
                S4() + "-" +
                S4() + S4() + S4());}
    var KoalaRawId = function($trigger){
        
        // Bind
        $trigger.popupWindow({
            width: 960,
            height: 500,
            centerBrowser: 1});
        // Koala RawID
        window['setImageId'] = function(id, selector){
            $('#input-' + selector).val(id);}
    };

    //TODO: Change to JSON update

</script>
{% endblock %}