{% extends 'admin/base.html' %}

{% set languages = {'Português': 'pt_BR', 'Español': 'es_ES', 'English': 'en_US'} %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Image</legend>
            <div class="row">
                <div class="small-6 columns">

                    <div class="row">
                        <div class="small-12 columns">
                            <div class="section-container auto" data-section>
                                {% for language, code in languages %}
                                    <section>
                                        <p class="title" data-section-title>
                                            <a href="#">{{language}}</a>
                                        </p>
                                        <div class="content" data-section-content>
                                            <label for="">Title</label>
                                            {% set attr = 'title-' ~  code %}
                                            <input type="text" name="title-{{code}}" value="{{image[attr]}}">
                                        </div>
                                    </section>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="small-12 columns">

                    <div class="row">
                        <div class="small-12 columns">
                            <div class="section-container auto" data-section>
                                {% for language, code in languages %}
                                    <section>
                                        <p class="title" data-section-title>
                                            <a href="#">{{language}}</a>
                                        </p>
                                        <div class="content" data-section-content>
                                            <label for="">Description</label>
                                            {% set attr = 'description-' ~ code %}
                                            <input type="text" name="description-{{code}}" value="{{image[attr]}}">
                                        </div>
                                    </section>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="small-12 columns">    
                    <div class="small-8 columns">
                        {% if image.file|length > 0 %}
                        <img src="{{image.file}}" alt="">
                        {% endif %}
                    </div>
                    <div class="small-4 columns">
                        <label for="">Image</label>
                        <input type="file" name="upload">
                    </div>
                </div>
                <hr>
                <div class="small-12 columns">
                    <input class="round button success small" type="submit" value="Update">
                    <a class="round button secondary small" href="{{site}}/admin/image">Voltar</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}