{% extends 'base.html' %}

{% block content %}

{% set searchParams = '' %}
{% for key, value in request.params if key != 'p' %}
    {% set searchParams = searchParams ~ "&" ~ key ~ "=" ~ value %}
{% endfor %}

{% set languages = {'Português': 'pt_BR', 'Español': 'es_ES', 'English': 'en_US'} %}

<div class="row">
    <div class="small-12 columns">
        
        <h1>Images</h1>

        <div class="small-8 columns">
        {% if paginate %}
            <ul class="pagination">
                {% if paginate.hasPrevious %}
                <li class="arrow"><a href="?p={{paginate.previous}}{{searchParams}}">&laquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="#">&laquo;</a></li>
                {% endif %}
            
                {% for page in range(1, paginate.pages) %}
                <li class="{% if paginate.current == page %}current{% endif %}"><a href="?p={{page}}{{searchParams}}">{{page}}</a></li>
                {% endfor %}
            
                <!--<li class="unavailable"><a href="">&hellip;</a></li>-->
            
                {% if paginate.hasNext %}
                <li class="arrow"><a href="?p={{paginate.next}}{{searchParams}}">&raquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        {% else %}
        &nbsp;
        {% endif %}
        </div>
        <form action="">
        <input type="hidden" name="p" value="{{pagination.current}}">

        <div class="small-4 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" name="q" placeholder="Filter" value="{{params.q}}">
                </div>
                <div class="small-2 columns">
                    <input type="submit" value="Filter" class="button prefix">
                </div>
            </div>
        </div>
        </form>

        <div class="small-12 columns">
            {% if images|length > 0 %}
            <table width="100%">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Thumb</th>
                        <th>Dimension</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Available</th>
                        <th>Published</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images %}
                        <tr>
                            <td><input type="checkbox"></td>
                            <td align="center">
                                <a href="{{site}}/admin/image/{{image.slug}}">
                                    <img src="{{image.file}}" alt="" width="60">
                                </a>
                            </td>
                            <td>{{image.width}} x {{image.height}}</td>
                            <td>{{image.title}}</td>
                            <td>{{image.description}}</td>
                            <td>{{image.date_available}}</td>
                            <td align="center">
                                <a href="{{site}}/admin/image/publish/{{image.slug}}/{% if image.published == 1 %}no{% else %}yes{% endif %}">
                                    <div class="published {% if image.published == 1 %}yes{% endif %}"></div>
                                </a>
                            </td>
                            <td align="center">
                                <a href="{{site}}/admin/image/remove/{{image.slug}}">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h3 class="subheader" style="text-align: center;">No Images for you today :(</h3>
            {% endif %}
        </div>

    </div>
</div>

<div class="row">
    <div class="small-12 columns">

        <h1>Add</h1>

        <div class="row">
            
            <form action="" method="POST" enctype="multipart/form-data">

            <div class="small-12 columns">
                <div class="section-container auto" data-section>

                    <section>
                        <p class="title" data-section-title>
                            <a href="#">Attributes</a>
                        </p>
                        <div class="content" data-section-content>
                            <div class="row">

                                <div class="small-6 columns">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <div class="section-container auto" data-section>
                                                {% for language, code in languages %}
                                                    <section>
                                                        <p class="title" data-section-title>
                                                            <a href="#">{{language}}</a>
                                                        </p>
                                                        <div class="content" data-section-content>
                                                            <label for="">Title</label>
                                                            <input type="text" name="title-{{code}}">
                                                        </div>
                                                    </section>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="small-6 columns">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <div class="section-container auto" data-section>
                                                {% for language, code in languages %}
                                                    <section>
                                                        <p class="title" data-section-title>
                                                            <a href="#">{{language}}</a>
                                                        </p>
                                                        <div class="content" data-section-content>
                                                            <label for="">Description</label>
                                                            <input type="text" name="description-{{code}}">
                                                        </div>
                                                    </section>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="small-3 columns end">
                                    <label for="">Image</label>
                                    <input type="file" name="upload">
                                </div>

                            </div>
                        </div>
                    </section>

                    <section>
                        <p class="title" data-section-title>
                            <a href="#">Grab</a>
                        </p>
                        <div class="content" data-section-content>
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="">Width</label>
                                    <input type="text" name="grab-width">
                                </div>
                                <div class="small-3 columns">
                                    <label for="">Height</label>
                                    <input type="text" name="grab-height">
                                </div>
                                <div class="small-6 columns">&nbsp;</div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <p class="title" data-section-title>
                            <a href="#">Resize</a>
                        </p>
                        <div class="content" data-section-content>
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="">Width</label>
                                    <input type="text" name="resize-width">
                                </div>
                                <div class="small-3 columns">
                                    <label for="">Height</label>
                                    <input type="text" name="resize-height">
                                </div>
                                <div class="small-3 columns">
                                    <label for="">Propotional</label>
                                    <input type="checkbox" name="resize-keep-proportion" value="1" CHECKED>
                                </div>
                                <div class="small-3 columns">&nbsp;</div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <p class="title" data-section-title>
                            <a href="#">Crop</a>
                        </p>
                        <div class="content" data-section-content>
                            <div class="row">
                                <div class="small-2 columns">
                                    <label for="">Width</label>
                                    <input type="text" name="crop-width">
                                </div>
                                <div class="small-2 columns">
                                    <label for="">Height</label>
                                    <input type="text" name="crop-height">
                                </div>
                                <div class="small-2 columns">
                                    <label for="">Offset top</label>
                                    <input type="text" name="crop-offset-top">
                                </div>
                                <div class="small-2 columns">
                                    <label for="">Offset left</label>
                                    <input type="text" name="crop-offset-left">
                                </div>
                                <div class="small-2 columns">
                                    <label for="">Centered</label>
                                    <input type="checkbox" name="crop-center" value="1" CHECKED>
                                </div>
                                <div class="small-2 columns">&nbsp;</div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

            <hr>
            <div class="small-12 columns">
                <input class="round button success small" type="submit" value="ADD">
            </div>

            </form>

        </div>

    </div>
</div>

{% endblock %}