{% extends 'base_popup.html' %}

{% block content %}

{% set searchParams = '' %}
{% for key, value in request.params if key != 'p' %}
    {% set searchParams = searchParams ~ "&" ~ key ~ "=" ~ value %}
{% endfor %}

<div class="row">
    <div class="small-12 columns">
        
        <h1>Images</h1>

        <div class="small-8 columns">
        {% if paginate %}
            <ul class="pagination">
                {% if paginate.hasPrevious %}
                <li class="arrow"><a href="?p={{paginate.previous}}{{searchParams}}">&laquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="#">&laquo;</a></li>
                {% endif %}
            
                {% for page in range(1, paginate.pages) %}
                <li class="{% if paginate.current == page %}current{% endif %}"><a href="?p={{page}}{{searchParams}}">{{page}}</a></li>
                {% endfor %}
            
                <!--<li class="unavailable"><a href="">&hellip;</a></li>-->
            
                {% if paginate.hasNext %}
                <li class="arrow"><a href="?p={{paginate.next}}{{searchParams}}">&raquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        {% else %}
        &nbsp;
        {% endif %}
        </div>
        <form action="">
        {% for key, value in request.params %}
        <input type="hidden" name="{{key}}" value="{{value}}">
        {% endfor %}

        <div class="small-4 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" name="q" placeholder="Filter" value="{{params.q}}">
                </div>
                <div class="small-2 columns">
                    <input type="submit" value="Filter" class="button prefix">
                </div>
            </div>
        </div>
        </form>

        <div class="small-12 columns">
            {% if images|length > 0 %}
            <table width="100%">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Thumb</th>
                        <th>Dimension</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Available</th>
                        <th>Published</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images %}
                        <tr>
                            <td><input type="checkbox"></td>
                            <td align="center">
                                <a href="#" class="js-callback">
                                    <img src="{{image.file}}" alt="" width="60" id="{{image.id}}">
                                </a>
                            </td>
                            <td>{{image.width}} x {{image.height}}</td>
                            <td>{{image.title}}</td>
                            <td>{{image.description}}</td>
                            <td>{{image.date_available}}</td>
                            <td align="center">
                                <a href="{{site}}/admin/image/publish/{{image.slug}}/{% if image.published == 1 %}no{% else %}yes{% endif %}">
                                    <div class="published {% if image.published == 1 %}yes{% endif %}"></div>
                                </a>
                            </td>
                            <td align="center">
                                <a href="{{site}}/admin/image/remove/{{image.slug}}">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h3 class="subheader" style="text-align: center;">No Images for you today :(</h3>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    // Helper function to get parameters from the query string.
    function getUrlParam( paramName ) {
        var reParam = new RegExp( '(?:[\?&]|&)' + paramName + '=([^&]+)', 'i' ) ;
        var match = window.location.search.match(reParam) ;

        return ( match && match.length > 1 ) ? match[ 1 ] : null ;
    }

    $('.js-callback').on('click', function(e){
        e.preventDefault();
        if(isCKEditor()){
            var _img = $(this).find('img').attr('src');
            CKEditorReturn(_img);
        }else if(isKoalaRawId()){
            var _id = $(this).find('img').attr('id');
            KoalaRawIdReturn(_id);
        }
        window.close();
    });

    function isCKEditor(){
        return getUrlParam('CKEditor')? true: false;}
    function isKoalaRawId(){
        return getUrlParam('KoalaRawId')? true: false;}

    function CKEditorReturn (file){
        var funcNum = getUrlParam( 'CKEditorFuncNum' );
        window.opener.CKEDITOR.tools.callFunction( funcNum, file );}

    function KoalaRawIdReturn (id){
        var funcNum = getUrlParam( 'KoalaFuncName' ),
            selector = getUrlParam( 'selector' );
        window.opener[funcNum](id, selector);}
</script>
{% endblock %}