/* FONT */

@font-face {
    font-weight:100;
    font-family: Maven Pro;
    src:url(../fonts/MavenProLight-100.otf);}

@font-face {
    font-weight:200;
    font-family: Maven Pro;
    src:url(../fonts/MavenProLight-200.otf);}

@font-face {
    font-weight:300;
    font-family: Maven Pro;
    src:url(../fonts/MavenProLight-300.otf);}

/*  */
h1,h2,h3,h4,h5,h6,li{
    font-weight: 300;
    font-family: 'Maven Pro', sans-serif !important;}
p{
    font-family: sans-serif !important;}
    
li:hover, li.active{
    color: #6DBCBC !important;
    cursor: pointer;}

/* HEADER - HOME */
.main_header--wrapper{
    width: 100%;
    background-color: #343A41;}

.main_header{
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;}

.main_header .phrase h5{
    padding-top: 5px;
    color: #9a9da0;
    font-weight: normal;}

.main_header .support h5{
    color: #6DBCBC;
    font-weight: normal;
    font-size: 24px;}
.main_header .support h5 b{
    color: #FFF;
    font-weight: normal;
    font-size: 24px;}

.main_footer--wrapper{
    width: 100%;
    background-color: #343A41;}

.main_footer{
    padding-top: 30px;
    padding-bottom: 20px;}

.main_footer .menu{ }
.main_footer .menu ul{
    list-style-type: none;}
.main_footer .menu ul li{
    display: inline-block;
    padding-left: 10px;
    color: #FFF;
    font-size: 12px;}

.main_footer .copyright{ }
.main_footer .copyright p{
    color: #9a9da0;
    font-size: 12px;}

/*  */

.main_nav{ }
.main_nav .title{
    font-size: 36px;}
.main_nav .title h5{ }
.main_nav .title h5 b{
    color: #6DBCBC;
    font-size: inherit;}

.main_nav .menu{
    padding-top: 23px;}
.main_nav .menu ul{
    list-style-type: none;}
.main_nav .menu ul li{
    display: inline-block;
    padding-left: 10px;
    color: #333;
    font-weight: bold;
    font-size: 17px;}

/*  */

.divider{
    margin-bottom: 30px;
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #DDD;
}

/* Orbit */

.orbit{ }
.orbit .orbit-bullets{ }
.orbit .orbit-bullets li{
    width: 10px;
    height: 10px;
    background: none;}
.orbit .orbit-bullets li.active{
    border-color: #6DBCBC;}

/*  */

.service_callout{ }
.service_callout .service{ }

.service_callout .service .header{ }
.service_callout .service .header .number{
    position: absolute;
    
    display: block;
    width: 50px;
    height: 50px;
    
    -webkit-border-radius: 25px;
            border-radius: 25px;
    background-color: #6DBCBC;}
.service_callout .service .header .number p{
    margin-top: -7px;
    margin-left: 12px;
    padding: 0;
    color: #FFF;
    font-weight: bold;
    font-size: 42px;}

.service_callout .service .header h5{
    margin-top: -2px;
    padding-left: 60px;
    font-size: 28px;}

.service_callout .service .list{
    padding-left: 50px;
}
.service_callout .service .list ul{
    list-style-type: none;
}
.service_callout .service .list ul li{
    margin-bottom: 10px;
    padding-left: 30px;
    background: url(../img/marker-1.png) 0px 3px no-repeat;
    color: #8F8F8F;}

/*  */

.service_list{
    margin-bottom: 20px;}
.service_list .service{ }
.service_list .service h5{
    color: #666;
    font-weight: normal;
    font-size: 24px;}
.service_list .service p{
    color: #999;
    font-size: 12px;}
.service_list .service p.active{
    color: #6DBCBC;}
.service_list .service ol{
    padding-left: 26px;
    list-style-type: decimal-leading-zero;}
.service_list .service ol li{
    margin-bottom: 18px;
    color: #434950;
    font-size: 12px;}


/* Admin */

.published{
    width: 31px;
    height: 28px;
    background: url(../img/yes-no.jpg) 0 -28px no-repeat;}
.published.yes{
    background-position: 0 0;}