{% extends 'base.html' %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>{{module.child_class}}</legend>
            <div class="row">
                {% for field in item.fields %}
                <div class="small-{{field.col}} columns">
                    <label for="">{{field.title}}</label>
                    {{field.input}}
                </div>
                {% endfor %}
                <hr>
                <div class="small-12 columns">
                    <input class="round button success small" type="submit" value="Update">
                    <a class="round button secondary small" href="{{site}}/admin/{{module.child_class}}">Voltar</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}