{% extends 'base.html' %}

{% block content %}

{% set searchParams = '' %}
{% for key, value in request.params if key != 'p' %}
    {% set searchParams = searchParams ~ "&" ~ key ~ "=" ~ value %}
{% endfor %}

<div class="row">
    <div class="small-12 columns">
        
        <h1>{{model|capitalize}}</h1>

        <div class="small-8 columns">
            {% if paginate %}
                <ul class="pagination">
                    {% if paginate.hasPrevious %}
                    <li class="arrow"><a href="?p={{paginate.previous}}{{searchParams}}">&laquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable"><a href="#">&laquo;</a></li>
                    {% endif %}
                
                    {% for page in range(1, paginate.pages) %}
                    <li class="{% if paginate.current == page %}current{% endif %}"><a href="?p={{page}}{{searchParams}}">{{page}}</a></li>
                    {% endfor %}

                    {% if paginate.hasNext %}
                    <li class="arrow"><a href="?p={{paginate.next}}{{searchParams}}">&raquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable"><a href="#">&raquo;</a></li>
                    {% endif %}
                </ul>
            {% else %}
            &nbsp;
            {% endif %}
        </div>

        <form action="">
            <input type="hidden" name="p" value="{{pagination.current}}">
            <div class="small-4 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="q" placeholder="Filter" value="{{params.q}}">
                    </div>
                    <div class="small-2 columns">
                        <input type="submit" value="Filter" class="button prefix">
                    </div>
                </div>
            </div>
        </form>

        <div class="small-12 columns">
            <table width="100%">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        {% for fieldname in columns %}
                        <th>{{fieldname}}</th>
                        {% endfor %}
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td><input type="checkbox"></td>
                            {% for field in item.fields %}
                            <td align="center">
                                <a href="{{site}}/admin/{{module.child_class}}/{{item.slug}}">
                                    {{field}}
                                </a>
                            </td>
                            {% endfor %}
                            <td align="center">
                                <a href="{{site}}/admin/{{module.child_class}}/remove/{{item.slug}}">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="row">
    <div class="small-12 columns">

        <h1>Add</h1>

        <form action="" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>{{module.child_class|capitalize}}</legend>
                <div class="row">
                    {% for field in module.fields %}
                    <div class="small-{{field.col}} columns">
                        <label for="">{{field.title}}</label>
                        {{field.input}}
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="small-12 columns">
                        <input class="round button success small" type="submit" value="ADD">
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>

{% endblock %}