<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Koala CMS</title>
  
    <link rel="stylesheet" href="{{site}}/css/foundation.css" />
    <script src="{{site}}/js/vendor/custom.modernizr.js"></script>
    <link href="{{site}}/css/main.css" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="small-12 columns">
      {% block content %}{% endblock %}
    </div>
  </div>
  <script>
  document.write('<script src={{site}}/' +
  ('__proto__' in {} ? 'js/vendor/jquery' : 'js/vendor/zepto') +
  '.js><\/script>')
  </script>
  <script src="{{site}}/js/foundation/foundation.js"></script>
  <script src="{{site}}/vendor/ckeditor/adapters/jquery.js"></script>
  <script>
    $(document).foundation();
  </script>
  {% block javascript%}
  {% endblock %}
</body>
</html>
