{% set languages = ['Português', 'English', 'Español'] %}
<div class="row">
    <div class="small-12 columns">
        <div class="section-container auto" data-section>
            {% for language in languages %}
                <section>
                    <p class="title" data-section-title>
                        <a href="#">{{language}}</a>
                    </p>
                    <div class="content" data-section-content>
                        <label for="">Title</label>
                        <input type="text" name="title">
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
</div>