{% extends 'base.html' %}

{% set languages = {'Português': 'pt_BR', 'Español': 'es_ES', 'English': 'en_US'} %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>{{model|capitalize}}</legend>
            <div class="row">
                {% for field in fields %}
                    <div class="small-{{field.col}} columns">
                        {% if field.translate == true %}
                        <div class="row">
                            <div class="small-12 columns">
                                <div class="section-container auto" data-section>
                                    {% for language, code in languages %}
                                        <section>
                                            <p class="title" data-section-title>
                                                <a href="#">{{language}}</a>
                                            </p>
                                            <div class="content" data-section-content>
                                                <label for="">{{field.label}}</label>
                                                {% set fieldName = field.name ~ '-' ~ code %}
                                                {{field.processor.input(fieldName, item[fieldName])|raw}}
                                            </div>
                                        </section>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <label for="">{{field.label}}</label>
                        {{field.processor.input(field.name, item[field.name])|raw}}
                        {% endif %}
                    </div>
                {% endfor %}
                <hr>
                <div class="small-12 columns">
                    <input class="round button success small" type="submit" value="Update">
                    <a class="round button secondary small" href="{{site}}/admin/{{model}}">Voltar</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}