{% extends 'base.html' %}

{% block content %}

{% set searchParams = '' %}
{% for key, value in request.params if key != 'p' %}
    {% set searchParams = searchParams ~ "&" ~ key ~ "=" ~ value %}
{% endfor %}

{% set languages = {'Português': 'pt_BR', 'Español': 'es_ES', 'English': 'en_US'} %}

<div class="row">
    <div class="small-12 columns">
        {{module}}
        <h1>{{model|capitalize}}</h1>

        <div class="small-8 columns">
            {% if paginate %}
                <ul class="pagination">
                    {% if paginate.hasPrevious %}
                    <li class="arrow"><a href="?p={{paginate.previous}}{{searchParams}}">&laquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable"><a href="#">&laquo;</a></li>
                    {% endif %}
                
                    {% for page in range(1, paginate.pages) %}
                    <li class="{% if paginate.current == page %}current{% endif %}"><a href="?p={{page}}{{searchParams}}">{{page}}</a></li>
                    {% endfor %}

                    {% if paginate.hasNext %}
                    <li class="arrow"><a href="?p={{paginate.next}}{{searchParams}}">&raquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable"><a href="#">&raquo;</a></li>
                    {% endif %}
                </ul>
            {% else %}
            &nbsp;
            {% endif %}
        </div>

        <form action="">
            <input type="hidden" name="p" value="{{pagination.current}}">
            <div class="small-4 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="q" placeholder="Filter" value="{{params.q}}">
                    </div>
                    <div class="small-2 columns">
                        <input type="submit" value="Filter" class="button prefix">
                    </div>
                </div>
            </div>
        </form>

        <div class="small-12 columns">
            {% if items|length > 0%}
            <table width="100%">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        {% for item in fields %}
                        <th>{{item.label}}</th>
                        {% endfor %}
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><input type="checkbox"></td>
                        {% for field in listFields %}
                        <td>
                            <a href="{{site}}/admin/{{model}}/{{item.id}}">
                                {{fields[field].processor.read(item.toArray[fields[field].name])|raw}}
                            </a>
                        </td>
                        {% endfor %}
                        <td align="center"><a href="{{site}}/admin/{{model}}/{{item.id}}/remove">Remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h3 class="subheader" style="text-align: center;">No {{model}} for you today :(</h3>
            {% endif %}
        </div>

    </div>
</div>

<div class="row">
    <div class="small-12 columns">

        <h1>Add</h1>

        <form action="" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>{{model|capitalize}}</legend>
                <div class="row">
                    {% for field in fields %}
                        <div class="small-{{field.col}} columns">
                            {% if field.translate == true %}
                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="section-container auto" data-section>
                                        {% for language, code in languages %}
                                            <section>
                                                <p class="title" data-section-title>
                                                    <a href="#">{{language}}</a>
                                                </p>
                                                <div class="content" data-section-content>
                                                    <label for="">{{field.label}}</label>
                                                    {{field.processor.input(field.name ~ '-' ~ code, '')|raw}}
                                                </div>
                                            </section>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <label for="">{{field.label}}</label>
                            {{field.processor.input(field.name, '')|raw}}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <hr>
                    <div class="small-12 columns">
                        <input class="round button success small" type="submit" value="ADD">
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>

{% endblock %}