<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Koala CMS</title>
  
    <link rel="stylesheet" href="{{static}}/koalacms/css/foundation.css" />
    <script src="{{static}}/koalacms/js/vendor/custom.modernizr.js"></script>
    <link href="{{static}}/koalacms/css/main.css" rel="stylesheet">
    <link href="{{static}}/koalacms/vendor/ckeditor/contents.css" rel="stylesheet">
</head>
<body>

    <div class="row">
      <div class="small-2 columns">
        <ul class="side-nav">
          <li><a href="{{site}}/admin/image">Image</a></li>
          <li><a href="{{site}}/admin/flatpage">Flatpage</a></li>
          <li><a href="{{site}}/admin/project">Project</a></li>
          <li><a href="{{site}}/admin/section">Section</a></li>
          <li class="divider"></li>
          <li><a href="{{site}}/auth/logout">Logout</a></li>
        </ul>
      </div>

      <div class="small-10 columns">
        
        <div class="row">
          <div class="small-12 columns">
            {% block topbar %}
            {% endblock %}
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            {% block content %}{% endblock %}
          </div>
        </div>

      </div>
    </div>

  <script>
  document.write('<script src={{static}}/koalacms/' +
  ('__proto__' in {} ? 'js/vendor/jquery' : 'js/vendor/zepto') +
  '.js><\/script>')
  </script>
  
  <script src="{{static}}/koalacms/js/foundation/foundation.js"></script>
  <script src="{{static}}/koalacms/vendor/ckeditor/ckeditor.js"></script>
  <script src="{{static}}/koalacms/vendor/ckeditor/adapters/jquery.js"></script>
  <script src="{{static}}/koalacms/js/vendor/koala-html.js"></script>
  
  <script>
    $(document).foundation();
    if($('.js-ckeditor').length > 0){
      $( '.js-ckeditor' ).ckeditor({
        toolbarGroups: [
          { name: 'tools' },
          { name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },
          { name: 'links' },
          { name: 'insert'},
          '/',
          { name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align' ] },
          { name: 'styles' },
          { name: 'colors' }
        ],
        filebrowserBrowseUrl: '{{site}}/admin/image/popup',
        filebrowserUploadUrl: '/uploader/upload.php?type=Files'        
      });
    }
  </script>
  {% block javascript%}
  {% endblock %}
</body>
</html>
